{% extends 'base.html.twig' %}

{% block title %}MegaCasting - {{ offer.name }}{% endblock %}

{% block body %}
  
    <div class="container">
        <h1> {{ offer.name }} </h1>
    </div>

{% endblock %}