{% extends 'base.html.twig' %}

{% block title %}MegaCasting - Contact{% endblock %}


{% block body %}

  <div class="container-fluid">
    <div class="container-nav">
      <div class="p-t-31 p-b-9 form-search">
        <div class="input-group mb-3">
          <h1 class="contact-title">Contactez nous</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Bloc 1 -->
  <div class="container contact-bloc mt-5 mb-5">
    <div class="contact-bloc-1">
      <i class="fas fa-map-marked-alt icon mb-5"></i>
      <p class="mb-0 mt-3">Institut d'Informatique Appliquée</p>
      <p>5 Boulevard de l'Industrie, Saint-Berthevin</p>
    </div>
    <div class="contact-bloc-2">
      <i class="fas fa-phone icon mb-5"></i>
      <p class="mb-0 mt-3">06.19.50.61.13</p>
      <p>07.82.02.09.17</p>
    </div>
    <div class="contact-bloc-3">
      <i class="fas fa-at icon mb-5"></i>
      <p class="mb-0 mt-3">m.gasseau@iia-laval.fr</p>
      <p>t.lequipe@iia-laval.fr</p>
    </div>
  </div>

{% endblock %}